* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#toDo {
  width: 90%;
  height: 80vh;
  margin: auto;
  margin-top: 40px;
  max-width: 450px;
  background-color: aquamarine;
  padding: 30px 10px;
}
#toDo h2 {
  text-align: center;
}
.search {
  padding: 10px 20px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
.search input,
.search button {
  outline: none;
  border: none;
  font-size: 17px;
  background: none;
}
.search button {
  font-size: 24px;
  cursor: pointer;
}
ul {
  padding: 0 10px;
}

ul li {
  list-style: none;
  font-size: 20px;
  font-weight: 600;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul li span {
  font-size: 18px;
  width: 40px;
  height: 40px;
  padding-left: 13px;
  padding-top: 11px;
}
ul li span:hover {
  background-color: rgb(73, 224, 224);
}
